:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: whitesmoke;
}

h2.title {
  color: #516a69;
  text-align: center;
  margin-top: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #516a69;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #d4d4d4;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #96c4ba;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 5; */
  overflow: hidden;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.loading {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.text-center{
  text-align: center;
  margin-top: 1rem;
}

.page{
  color:grey;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.25rem;
  padding:1rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
.page:hover{
  background-color: #96c4ba;
  color: white;
}
.page.active{
  color:#516a69;
  font-weight: bold;
  background-color: #96c4ba;
}

.pagination {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}